.background {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;

	background-color: #222225;
}

.loading {
	width: min(10vh, 80vw);

	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.38, 0.16, 0.62, 0.82);
	animation-iteration-count: infinite;
	animation-name: spin;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
