.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: min(5vh, 1vw);
	margin-bottom: 5vh;
	justify-content: space-between;
	align-items: center;
}

.title {
	padding-left: calc(15vw - 30px);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title a {
	text-decoration: none;
	color: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title h1 {
	margin: 0;
	font-size: min(8vw min(calc(5vw + 40px), 10vh));
}

.title img {
	padding-right: 0.1vw;
	height: calc(1vw + 30px);
	width: calc(1vw + 30px);
}

.logInButton {
	margin-right: 5vw;
	height: calc(0.7vw + 35px);
}

.playButton {
	margin-right: calc(10vw - 30px);
	font-size: max(5vh, min(calc(2vw+10), 8vw));
}
